

.rino1{
  position: relative;
  top: 150%;
  left: -15%;
  background: #444444;
  border-radius: 50%;
  width: 125px;
  height: 125px;
  margin: auto;
  margin-top: 10%;

}
.tromparino{
    position: relative;
    top: -110px;
    left: -14px;
    background: #444444;
    width: 150px;
    height: 75px;
    border-radius: 70% 70% 100% 100%;
}

.cuerno1{
    position: relative;
    top: -50px;
    left: 45px;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 80px solid #f3f6f4;
    border-radius: 25px;	
}

.orejaderecha {
  top: 0%;
  left: -5%;
  background: #444444;
  width: 30%;
  height: 60%;
  border-radius: 30% 30% 120% 30%;
  transform: rotate(150deg);
  z-index: -1;
}

.orejaizquierda {
  position: relative;
  top: -58%;
  left: 75%;
  background: #444444;
  width: 30%;
  height: 60%;
  border-radius: 30% 30% 30% 120%;
  transform: rotate(-150deg);
  z-index: -1;
}

.ojoderecho {
  position: relative;
  top: -73.5%;
  left: 73%;
  background: black;
  width: 15%;
  height: 17%;
  border-radius: 50%;
}

.ojoizquierdo {
  position: relative;
  top: -90%;
  left: 9%;
  background: black;
  width: 15%;
  height: 17%;
  border-radius: 50%;
}

.barriga {
  position: relative;	
  top: -110%;
  left: 2.5%;
  background: #444444;
  width: 95%;
  height: 100%;
  border-radius: 120% 120% 100% 100%;
}



.manoderecha {
  position: relative;
  top: 0%;
  left: -15%;
  background: #3c3a3a;
  width: 30%;
  height: 60%;
  border-radius: 30% 30% 120% 30%;
  transform: rotate(200deg);
  z-index: -1;
}

.manoizquierda {
  position: relative;
  top: -58%;
  left: 85%;
  background: #3c3a3a;
  width: 30%;
  height: 60%;
  border-radius: 30% 30% 30% 120%;
  transform: rotate(-200deg);
  z-index: -1;
}

.pata1{
	position: relative;
	top: -40%;
    left: -25%;
	height: 50px;
    background-color:#3c3a3a;
    margin:auto;
    width: 40px;
    border-radius: 10px;
    z-index: -2222;


}

.pata2{
	position: relative;
	top: -80%;
    left: 25%;
	height: 50px;
    background-color:#3c3a3a;
    margin:auto;
    width: 40px;
    border-radius: 10px;
    z-index: -2222;


}


.pinguino {
     position: relative;
     top: -300%;
     left: 150%;

    --pinguino-barriga: gray;
    --pinguino-pico: yellow;
    position: relative;
    margin: auto;
    display: block;
    margin-top: 5%;
    width: 300px;
    height: 300px;
  }
  
.pinguino-superior {
  top: 10%;
  left: 25%;
  background: black;
  width: 50%;
  height: 45%;
  border-radius: 70% 70% 60% 60%;
}

.pinguino-inferior {
  top: 40%;
  left: 23.5%;
  background: black;
  width: 53%;
  height: 45%;
  border-radius: 70% 70% 100% 100%;
}

.mano-derecha {
  top: 0%;
  left: -5%;
  background: black;
  width: 30%;
  height: 60%;
  border-radius: 30% 30% 120% 30%;
  transform: rotate(45deg);
  z-index: -1;
}

.mano-izquierda {
  top: 0%;
  left: 75%;
  background: black;
  width: 30%;
  height: 60%;
  border-radius: 30% 30% 30% 120%;
  transform: rotate(-45deg);
  z-index: -1;
}

.mejilla-derecha {
  top: 15%;
  left: 35%;
  background: var(--pinguino-barriga, white);
  width: 60%;
  height: 70%;
  border-radius: 70% 70% 60% 60%;
}

.mejilla-izquierda {
  top: 15%;
  left: 5%;
  background: var(--pinguino-barriga, white);
  width: 60%;
  height: 70%;
  border-radius: 70% 70% 60% 60%;
}

.barrigapin {
  top: 60%;
  left: 2.5%;
  background: var(--pinguino-barriga, white);
  width: 95%;
  height: 100%;
  border-radius: 120% 120% 100% 100%;
}

.pie-derecho {
  top: 85%;
  left: 60%;
  background: var(--pinguino-pico, orange);
  width: 15%;
  height: 30%;
  border-radius: 50% 50% 50% 50%;
  transform: rotate(-80deg);
  z-index: -2222;
}

.pie-izquierdo {
  top: 85%;
  left: 25%;
  background: var(--pinguino-pico, orange);
  width: 15%;
  height: 30%;
  border-radius: 50% 50% 50% 50%;
  transform: rotate(80deg);
  z-index: -2222;
}

.ojo-derecho {
  top: 45%;
  left: 60%;
  background: black;
  width: 15%;
  height: 17%;
  border-radius: 50%;
}

.ojo-izquierdo {
  top: 45%;
  left: 25%;
  background: black;
  width: 15%;
  height: 17%;
  border-radius: 50%;
}

.reflejo-ojos {
  top: 25%;
  left: 15%;
  background: white;
  width: 35%;
  height: 35%;
  border-radius: 50%;
}

.color-mejilla-derecha {
  top: 65%;
  left: 15%;
  background: pink;
  width: 15%;
  height: 10%;
  border-radius: 50%;
}

.color-mejilla-izquierda {
  top: 65%;
  left: 70%;
  background: pink;
  width: 15%;
  height: 10%;
  border-radius: 50%;
}

.pico-superior {
  top: 60%;
  left: 40%;
  background: var(--pinguino-pico, orange);
  width: 20%;
  height: 10%;
  border-radius: 50%;
}

.pico-inferior {
  top: 65%;
  left: 42%;
  background: var(--pinguino-pico, orange);
  width: 16%;
  height: 10%;
  border-radius: 50%;
}


.pinguino * {
  position: absolute;
  
}
body{
  background-color: #bcbcbc;
}
